html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*


 */


html, body {
  background-color: rgb(233, 233, 233);
  height: 100%;
}

@font-face{
  font-family: "Komoda";
  src: url('Komoda.ttf'),
  url('Komoda.eot'); /* IE */
}

#top_pane {
  height: 100%;
  position: relative;
  background: linear-gradient(
    rgba(238, 226, 220, 0.8),
    rgba(238, 226, 220, 0.8)
    ),
    url(blossom-macro-nature-photography.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#top_pane h1 {
  position: relative;
  top: 50px;
  font-family: "Komoda";
  font-size: 400px;
  color: #ac3b61;
  text-align: center;
}

#left_border {
  height: 100%;
  width: 50px;
  position: absolute;
  top: 0;
  left: 30px;
}

#right_border {
  height: 100%;
  width: 50px;
  float: right;
  position: absolute;
  top: 0;
  right: 45px;
}

.border div {
  background-image: url(flower.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  margin-top: 18px;
}

.right {
  position: relative !important;
  left: 10px !important;
}

#search_bar {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  width: 370px;
  color: rgb(18, 60, 105);
}

#search_bar input {
  height: 40px;
  width: 350px;
  border-width: thick;
  border-radius: 5px;
  border-color: rgb(18, 60, 105);
  border-style: solid;
  font-size: 20px;
  color: rgb(18, 60, 105);
  padding-left: 10px;
  background-color: transparent;
  outline: none;
}

#search_bar input:focus {
  background-color: transparent;
}

#search_bar #buttons input {
  display: block;
  margin: 0 auto;
  width: 150px;
  margin-top: 15px;
  padding-left: 0px;
  color: rgb(18, 60, 105);
  background-color: transparent;
  cursor: pointer;
}

#bottom_pane {
  background-color: rgb(238, 226, 220);
  margin-left: 10px;
}

#bottom_pane .img {
  height: 231px;
  width: 231px;
  display: inline-block;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}

#flash {
  color: rgb(18, 60, 105);
  text-align: center;
  font-size: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
}
