/*
 *= require_tree .
 *= require_self
 */

/* html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
} */

#top_pane {
  height: 400px;
  position: relative;
}

#search_bar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
}

#search_bar input {
  height: 50px;
  width: 500px;
  border-width: thin;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 10px;
}

#search_bar #buttons input {
  display: block;
  margin: 0 auto;
  width: 250px;
  margin-top: 15px;
  padding-left: 0px;
}

#bottom_pane .img {
  height: 100px;
  width: 100px;
  display: inline-block;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}