/*
 *= require_tree .
 *= require_self
 */

html, body {
  background-color: rgb(233, 233, 233);
  height: 100%;
}

@font-face{
  font-family: "Komoda";
  src: url('Komoda.ttf'),
  url('Komoda.eot'); /* IE */
}

#top_pane {
  height: 100%;
  position: relative;
  background: linear-gradient(
    rgba(238, 226, 220, 0.8),
    rgba(238, 226, 220, 0.8)
    ),
    url(blossom-macro-nature-photography.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#top_pane h1 {
  position: relative;
  top: 50px;
  font-family: "Komoda";
  font-size: 500px;
  color: #ac3b61;
  text-align: center;
}

#left_border {
  height: 100%;
  width: 50px;
  position: absolute;
  top: 0;
  left: 30px;
}

#right_border {
  height: 100%;
  width: 50px;
  float: right;
  position: absolute;
  top: 0;
  right: 30px;
}

.border div {
  background-image: url(flower.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  margin-top: 18px;
}

.right {
  position: relative !important;
  left: 10px !important;
}

/*#logo_container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#logo {
  height: 110px;
  width: 110px;
  background-image: url(584abe1a2912007028bd932e.png);
  background-size: contain;
}*/

/*
#name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
  background-image: url(name.png);
  background-size: contain;
  height: 350px;
  width: 350px;
  background-repeat: no-repeat;
} */

#search_bar {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  color: rgb(18, 60, 105);
}

#search_bar input {
  height: 50px;
  width: 400px;
  border-width: thick;
  border-radius: 5px;
  border-color: rgb(18, 60, 105);
  border-style: solid;
  font-size: 20px;
  padding-left: 10px;
  background-color: transparent;
  outline: none;
}

#search_bar #buttons input {
  display: block;
  margin: 0 auto;
  width: 150px;
  margin-top: 15px;
  padding-left: 0px;
  color: rgb(18, 60, 105);
  background-color: transparent;
}

#bottom_pane {
  background-color: rgb(238, 226, 220);
}

#bottom_pane .img {
  height: 100px;
  width: 100px;
  display: inline-block;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}