/*
 *= require_tree .
 *= require_self
 */

html, body {
  background-color: rgb(238, 226, 220);
}

#top_pane {
  height: 600px;
  position: relative;
  background: linear-gradient(
    rgba(237, 199, 183, 0.8),
    rgba(237, 199, 183, 0.8)
    ),
    url(blossom-macro-nature-photography.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#logo_container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#logo {
  height: 110px;
  width: 110px;
  background-image: url(584abe1a2912007028bd932e.png);
  background-size: contain;
}

#search_bar {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  color: rgb(18, 60, 105);
}

#search_bar input {
  height: 50px;
  width: 500px;
  border-width: thick;
  border-radius: 5px;
  border-color: rgb(18, 60, 105);
  border-style: solid;
  font-size: 20px;
  padding-left: 10px;
  background-color: transparent;
  outline: none;
}

#search_bar #buttons input {
  display: block;
  margin: 0 auto;
  width: 250px;
  margin-top: 15px;
  padding-left: 0px;
  color: rgb(18, 60, 105);
  background-color: transparent;
}

#bottom_pane {
  background-color: rgb(238, 226, 220);
}

#bottom_pane .img {
  height: 100px;
  width: 100px;
  display: inline-block;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}